<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Pontos Mapeados</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
          <li class="breadcrumb-item">Mapeamento</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<div class="row mb-2">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <table style="width: 100%;" id="table-markings" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Descrição do Ponto</th>
              <th>Código</th>
              <th>Bairro</th>
              <th>Categoria</th>
              <th>Estado</th>
              <th>Registrado aos</th>
              <th> - </th>
            </tr>
          </thead>
          <tbody>

          </tbody>
          <tfoot>
            <tr>
              <th>Descrição do Ponto</th>
              <th>Código</th>
              <th>Bairro</th>
              <th>Categoria</th>
              <th>Estado</th>
              <th>Registrado aos</th>
              <th> - </th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-markings">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="card-title">Salvar Marcação</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="form-markings" autocomplete="off">
          <input type="hidden" name="id" id="id" value="-1" />
          <div class="card-body">
            <div class="form-group">
              <label for="name">Descrição do Local</label>
              <input type="text" class="form-control" id="name" name="name" autocomplete="off" required />
            </div>
            <div class="form-group">
              <label for="code">Código</label>
              <input type="text" autocomplete="off" class="form-control" id="code" name="code" required />
            </div>
            <div class="form-group">
              <label for="ref">Referência</label>
              <input type="text" class="form-control" autocomplete="off" id="ref" name="ref" />
            </div>
            <div class="row">
              <div class="col col-md-4">
                <div class="form-group">
                  <label for="largura">Largura em Metros</label>
                  <input type="number" class="form-control" name="largura" id="largura" required />
                </div>
              </div>
              <div class="col col-md-4">
                <div class="form-group">
                  <label for="comprimento">Comprimento em Metros</label>
                  <input type="number" class="form-control" name="comprimento" id="comprimento" required />
                </div>
              </div>
              <div class="col col-md-4">
                <div class="form-group">
                  <label for="estado">Estado</label>
                  <select name="estado" id="estado" class="select2 form-control" style="width: 100%;">
                    <option value="Pendente">Pendente</option>
                    <option value="Letígio">Letígio</option>
                    <option value="Regularizado">Regularizado</option>
                  </select>
                </div>
              </div>
            </div>
            <p>Propriedades da forma</p>
            <hr>
            <div class="row">
              <div class="col col-md-3">
                <div class="form-group">
                  <label for="code">Preenchimento</label>
                  <input type="color" class="form-control" name="fillColor" id="fillColor" required />
                </div>
              </div>
              <div class="col col-md-3">
                <div class="form-group">
                  <label for="code">Opacidade</label>
                  <input type="range" min="1" max="10" class="form-control" name="fillOpacity" id="fillOpacity"
                    required />
                </div>
              </div>
              <div class="col col-md-3">
                <div class="form-group">
                  <label for="ref">Borda</label>
                  <input type="color" class="form-control" name="color" id="color" required />
                </div>
              </div>
              <div class="col col-md-3">
                <div class="form-group">
                  <label for="code">Largura</label>
                  <input type="range" min="1" value="3" max="5" class="form-control" name="weight" id="weight"
                    required />
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  const columns = [
    { data: "name", autowidth: true },
    { data: "code", autowidth: true },
    { data: "bairro", autowidth: true },
    { data: "categoria", autowidth: true },
    { data: "estado", autowidth: true },
    { data: "createdAt", autowidth: true },
    { data: "btn", autowidth: true },
  ];

  $(function () {
    loadTable("#table-markings", "/markings", columns);

    $("#btn-novo-markings").click((e) => {
      $("#card-title").text("Novo Registro");
      showModal("#modal-markings");
    });

    submitForm("markings")
  });
</script>