<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>GIS-AMU</title>
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css" />
  <link rel="stylesheet" href="/css/leaflet.css" />
  <link rel="stylesheet" href="/css/leaflet.draw.css" />
  <link rel="stylesheet" href="/css/leaflet-search.css" />
  <link rel="stylesheet" href="/plugins/select2/css/select2.min.css" />
  <link rel="stylesheet" href="/dist/css/adminlte.min.css" />
  <link rel="stylesheet" href="/css/style.css" />

  <script src="/plugins/jquery/jquery.min.js"></script>
  <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/plugins/select2/js/select2.full.min.js"></script>
  <script src="/js/leaflet.js"></script>
  <script src="/js/leaflet.draw.js"></script>
  <script src="/js/leaflet-search.js"></script>
  <script src="/js/pouchdb.js"></script>
  <script src="/js/L.TileLayer.PouchDBCached.js"></script>
  <script src="/dist/js/adminlte.min.js"></script>

</head>

<body class="{{theme}}">
  <div id="map"></div>

  <div class="modal fade" id="modal-default">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Salvar Marcação</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="form" autocomplete="off">
            <input type="hidden" name="id" id="id" value="-1" />
            <input type="hidden" name="estado" id="estado" value="Pendente" />
            <div class="form-group">
              <label for="name">Descrição do Local</label>
              <input type="text" class="form-control" id="name" name="name" placeholder=" ..." required />
            </div>

            <div class="row">
              <div class="col col-md-6">
                <div class="form-group">
                  <label for="code">Código</label>
                  <input type="text" class="form-control" name="code" id="code" required placeholder=" ..." />
                </div>
              </div>
              <div class="col col-md-6">
                <div class="form-group">
                  <label for="ref">Referência</label>
                  <input type="text" class="form-control" name="ref" id="ref" required placeholder=" ..." />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col col-md-6">
                <div class="form-group">
                  <label for="categoriaId">Categoria</label>
                  <select required name="categoriaId" id="categoriaId" class="form-control select2"
                    style="width: 100%;">
                  </select>
                </div>
              </div>
              <div class="col col-md-6">
                <div class="form-group">
                  <label for="bairroId">Bairro</label>
                  <select required name="bairroId" id="bairroId" class="form-control select2" style="width: 100%;">
                  </select>
                </div>
              </div>
            </div>

            <p>Propriedades da forma</p>
            <hr>

            <div class="row">
              <div class="col col-md-3">
                <div class="form-group">
                  <label for="fillColor">Preenchimento</label>
                  <input type="color" value="#3d7eff" class="form-control" name="fillColor" id="fillColor" required
                    placeholder=" ..." />
                </div>
              </div>
              <div class="col col-md-3">
                <div class="form-group">
                  <label for="fillOpacity">Opacidade</label>
                  <input type="range" min="1" value="3" max="10" class="form-control" name="fillOpacity"
                    id="fillOpacity" required placeholder=" ..." />
                </div>
              </div>
              <div class="col col-md-3">
                <div class="form-group">
                  <label for="color">Borda</label>
                  <input type="color" value="#ff0000" class="form-control" id="color" name="color" required
                    placeholder=" ..." />
                </div>
              </div>
              <div class="col col-md-3">
                <div class="form-group">
                  <label for="weight">Largura</label>
                  <input type="range" min="1" value="2" max="5" class="form-control" name="weight" id="weight" required
                    placeholder=" ..." />
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Salvar</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>

  <script src="/js/views/map.js"></script>
</body>

</html>