<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/icon.ico" />
    <title>SG2T-{{appName}}</title>
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/plugins/sweetalert2/sweetalert2.min.css">
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">

    <style>
        .header {
            width: 100%;
            background-color: #343a40;
            padding: 20px 0;
        }

        #btn-top {
            position: fixed;
            bottom: 20px;
            right: 90px;
            display: none;
            z-index: 999;
        }

        .neumorphism {
            background-color: #f8f9fa;
            border: 1px solid #dcdcdc;
            border-radius: 10px;
            box-shadow: 5px 5px 15px #c4c4c4,
                -5px -5px 15px #ffffff;
        }
    </style>

    <!-- Brevo Conversations {literal} -->
    <script>
        (function (d, w, c) {
            w.BrevoConversationsID = '65e1e293d8ec8a7466455f41';
            w[c] = w[c] || function () {
                (w[c].q = w[c].q || []).push(arguments);
            };
            var s = d.createElement('script');
            s.async = true;
            s.src = 'https://conversations-widget.brevo.com/brevo-conversations.js';
            if (d.head) d.head.appendChild(s);
        })(document, window, 'BrevoConversations');
    </script>
    <!-- /Brevo Conversations {/literal} -->
</head>

<body class="hold-transition light-mode">
    <header class="header bg-gradient-warning text-white p-4">
        <div class="container text-center">
            <a href="/" class="btn btn-sm btn-primary">Voltar no Sistema</a>
            <h2>Sistema de Geolocalização para Gerenciamento de Terrenos</h2>
        </div>
    </header>

    <section class="container my-5">
        <h2>Breve Apresentação</h2>
        <p>O Sistema de Geolocalização para Gerenciamento de Terrenos é uma solução inovadora e eficiente para
            identificar e mapear propriedades em uma determinada localidade. Desenvolvido para atender às
            necessidades
            de empresas imobiliárias, órgãos governamentais, e proprietários individuais, o sistema oferece uma
            plataforma abrangente para o cadastro, visualização e gerenciamento de informações relacionadas a
            terrenos e
            seus respectivos proprietários.</p>
    </section>

    <section class="container my-2">
        <h2>Funcionalidades</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card neumorphism">
                    <div class="card-body text-center">
                        <h5 class="card-title"><i class="fas fa-map-marked-alt"></i> Mapeamento Geoespacial</h5>
                        <p class="card-text">Visualização detalhada dos terrenos em um mapa interativo,
                            identificando
                            sua localização precisa e área.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card neumorphism">
                    <div class="card-body text-center">
                        <h5 class="card-title"><i class="fas fa-user"></i> Cadastro de Proprietários</h5>
                        <p class="card-text">Registro completo dos proprietários de terrenos, incluindo nome, dados
                            de
                            contato e informações adicionais relevantes.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card neumorphism">
                    <div class="card-body text-center">
                        <h5 class="card-title"><i class="fas fa-link"></i> Associação Terreno-Proprietário</h5>
                        <p class="card-text">Possibilidade de vincular cada terreno a seu respectivo proprietário,
                            facilitando a gestão e a consulta de informações.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card neumorphism">
                    <div class="card-body text-center">
                        <h5 class="card-title"><i class="fas fa-map-marker-alt"></i> Personalização de Marcadores
                        </h5>
                        <p class="card-text">Adição de marcadores personalizados no mapa, permitindo a inclusão de
                            informações específicas sobre cada propriedade e seu proprietário.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card neumorphism">
                    <div class="card-body text-center">
                        <h5 class="card-title"><i class="fas fa-search"></i> Pesquisa Avançada</h5>
                        <p class="card-text">Ferramenta de busca intuitiva para localizar terrenos por nome do
                            proprietário, endereço ou outras características relevantes.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card neumorphism">
                    <div class="card-body text-center">
                        <h5 class="card-title"><i class="fas fa-file-alt"></i> Relatórios Detalhados</h5>
                        <p class="card-text">Geração de relatórios completos sobre os terrenos cadastrados,
                            proporcionando uma visão abrangente do panorama imobiliário da região.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container my-2">
        <h2>Benefícios</h2>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card neumorphism">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-check"></i> Eficiência Operacional</h5>
                        <p class="card-text">Simplifica o processo de gerenciamento de terrenos, otimizando o tempo
                            e os
                            recursos envolvidos.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card neumorphism">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-chart-line"></i> Tomada de Decisão Embasada</h5>
                        <p class="card-text">Fornece dados precisos e atualizados para embasar decisões estratégicas
                            relacionadas a investimentos imobiliários.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card neumorphism">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-lock"></i> Transparência e Segurança</h5>
                        <p class="card-text">Promove a transparência nas transações imobiliárias, garantindo a
                            segurança
                            das informações dos proprietários.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card neumorphism">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-globe"></i> Facilidade de Acesso</h5>
                        <p class="card-text">Acessível via web, o sistema permite a consulta e atualização de dados
                            de
                            qualquer lugar e a qualquer momento.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container my-2">
        <div class="card neumorphism">
            <div class="card-body">
                <h2 class="card-title">Contatos e Redes Sociais</h2>
                <p>Para mais informações sobre o Sistema de Geolocalização para Gerenciamento de Terrenos, entre em
                    contato
                    conosco:</p>
                <ul>
                    <li>Telefone: <a href="tel:+244934342795">+244 934 342 795</a></li>
                    <li>E-mail: <a href="mailto:anvimaa@gmail.com">anvimaa@gmail.com</a></li>
                </ul>
                <p>Siga-nos nas redes sociais:</p>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/profile.php?id=61557168819612&mibextid=ZbWKwL"
                            target="_blank"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.x.com/anvimaa" target="_blank"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/anvimaa" target="_blank"><i class="fab fa-github"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/ant%C3%B3nio-mantente-4906241b0?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                            target="_blank"><i class="fab fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="container my-5">
        <div class="card neumorphism">
            <div class="card-header">
                <h2 class="card-title">Formulário de Contato</h2>
            </div>
            <div class="card-body">
                <form id="contactForm">
                    <div class="form-group">
                        <label for="name">Nome:</label>
                        <input type="text" class="form-control" name="name" id="name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail:</label>
                        <input type="email" class="form-control" name="email" id="email" required>
                    </div>
                    <div class="form-group">
                        <label for="subject">Assunto:</label>
                        <input type="text" class="form-control" name="subject" id="subject" required>
                    </div>
                    <div class="form-group">
                        <label for="message">Mensagem:</label>
                        <textarea class="form-control" name="message" id="message" rows="4" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </section>

    <footer class="text-center py-4">
        <p>Desenvolvido com ❤️ por <a href="#">Anvima Tech &copy;</a> Todos Direitos Reservados</p>
    </footer>

    <button id="btn-top" class="btn btn-primary rounded-circle"><i class="fas fa-arrow-up"></i></button>

    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="/dist/js/adminlte.min.js"></script>
    <script src="/js/app.js"></script>

    <script>
        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('#btn-top').fadeIn();
                } else {
                    $('#btn-top').fadeOut();
                }
            });
            $('#btn-top').click(function () {
                $('html, body').animate({ scrollTop: 0 }, 800);
                return false;
            });
            submitSimpleForm("#contactForm", "/send-email")
        });
    </script>
</body>

</html>