<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Categorias</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
          <li class="breadcrumb-item">Categorias</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<div class="row mb-2">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <button id="btn-novo-categoria" type="button" class="btn btn-primary"><i class="fa fa-plus-circle"></i>
          Registrar Novo Categoria</button>
        <hr />
        <table style="width: 100%;" id="table-categoria" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Registrado aos</th>
              <th> - </th>
            </tr>
          </thead>
          <tbody>

          </tbody>
          <tfoot>
            <tr>
              <th>Nome</th>
              <th>Registrado aos</th>
              <th> - </th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-categoria">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="card-title" class="modal-title">Novo Registro</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="form-categoria" autocomplete="off">
          <input type="hidden" name="id" id="id" value="-1" />
          <div class="card-body">
            <div class="form-group">
              <label for="nome">Nome do categoria</label>
              <input type="text" class="form-control" id="nome" name="nome" autocomplete="off" placeholder=" ..." />
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  const columns = [
    { data: "nome", autowidth: true },
    { data: "createdAt", autowidth: true },
    { data: "btn", autowidth: true },
  ];

  $(function () {
    loadTable("#table-categoria", "/categoria", columns);

    $("#btn-novo-categoria").click((e) => {
      $("#card-title").text("Novo Registro");
      showModal("#modal-categoria");
    });

    submitForm("categoria")
  });
</script>