html,
body,
#container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#map {
  width: auto;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.info {
  padding: 6px 8px;
  font: 12px/14px Arial, Helvetica, sans-serif;
  color: white;
  background: rgba(52, 58, 64, 0.8);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  text-align: left;
}

/* Estilos para o formulário */
#form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos para os campos de entrada */
.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos para os botões */
.btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Estilos para o layout dos botões */
.col-xs-4 {
  display: inline-block;
  width: 50%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}